.white-text {
    color: #fff;
}
a {
  color: #fff;

}

a.no-hover {
    color: #fff;
}

a:hover {
    color: rgba(255, 255, 255, 0.75);
}

.well-on-hover:hover {
    background-color: rgba(0,0,0,0.1);
    border-radius: 10px;
}


.box:hover, .card:hover {
    background-color: #EEE;
}

/* .navbar{
    transition: all 1s;
    -moz-transition: all 1s; /* Firefox 4 */
    -webkit-transition: all 1s; /* Safari and Chrome */
    -o-transition: all 1s; /* Opera */
} */

a[ id= "about" ]:target ~ #app .section {
    -webkit-transform: translateY( 0px);
    transform: translateY( 0px );
}