<section id="about" class="section about-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h1>About Me!</h1>
        <horizontal-div></horizontal-div>
        <about-main-section>
          <p>
            I am currently pursuing my undergrad in Computer Systems
            Engineering at Carleton. I am also an active member at the IEEE
            Student branch at Carleton helping organize network-based events,
            social events, school workshops, and school competitions.
          </p>
        </about-main-section>
        <about-roles-section>
          <h2 class="role-text">Current Roles</h2>
          <div class="row">

            <div class="col-md-6 space-above">
              <div class="row">
                <h4>Student Branch Representative</h4>
              </div>
              <div class="row">
                <a class="project-title"  href="http://www.ieeeottawa.ca/" >
                  IEEE Ottawa Section
                </a>
              </div>
              <div class="row">
                <div class="col-md-10 col-centered">
                  <div class="about-focus-text well">
                    <p>
                      Working with student branches to facilitate inter-branch
                      communication and resolve issues dealing with inter-branch events
                    </p>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-6 space-above">
              <div class="row">
                <h4>Financial Director (2016-2017)</h4>
              </div>
              <div class="row">
                <a class="project-title"  href="http://staylateandmake.ca/" >
                  Carleton Stay Late and Make
                </a>
              </div>
              <div class="row">
                <div class="col-md-10 col-centered">
                  <div class="about-focus-text well">
                    <p>
                      Gathering funding, recruiting students to attend on Thursdays
                      to learn, share, and be inspired by the works of other SLAM
                      members.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <h2 class="role-text">Past Roles</h2>
          <div class="row">

            <div class="col-md-6 space-above">
              <div class="row">
                <h4>Lead Director</h4>
              </div>
              <div class="row">
                <a class="project-title"  href="http://ieeespac.ca/" >
                  IEEE Student Professional Awareness Conference 2016
                </a>
              </div>
              <div class="row">
                <div class="col-md-10 col-centered">
                  <div class="about-focus-text well">
                    <p>
                      Leading the organization team in gathering patrons,
                      managing budgets, designing adverts and media, and
                      inviting keynote speakers.
                    </p>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-6 space-above">
              <div class="row">
                <h4>Lead Director</h4>
              </div>
              <div class="row">
                <a class="project-title"  href="http://staylateandmake.ca/" >
                  Carleton Stay Late and Make<br>(2015-2016)
                </a>
              </div>
              <div class="row">
                <div class="col-md-10 col-centered">
                  <div class="about-focus-text well">
                    <p>
                      Gathering funding, recruiting students to attend on Thursdays
                      to learn, share, and be inspired by the works of other SLAM
                      members.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </about-roles-section>
      </div>
    </div>
  </div>
</section>
<link href="css/extra/scrolling-nav.css" rel="stylesheet">
<script src="js/page.constants.js"></script>
