<section id="contact" class="section contact-section">
    <div class="container">
     <div class="row">
        <div class="col-lg-12">
          <h1>Contact Me!</h1>
          <horizontal-div></horizontal-div>
          <div class="row pull-center">
            <div class="col-xs-12 col-sm-4">
              <figure>
                <img class="img-circle img-responsive" alt="" src="img/Profile.png" style="width: 110%; height: 110%;" >
              </figure>
            </div>
            <div class="col-xs-12 col-sm-8">
              <div class="contact-vspace">
                <a href="https://github.com/irushavm" target="_blank">
                  <img src="img/gh.png" class="img-responsive logo-padding" alt="Responsive image" style="width: 8%; height: 8%;" align="left" >
                </a>
                <a class="contact-font" href="https://github.com/irushavm" target="_blank" align="center" > Github Profile </a>
              </div>
              <div class="contact-vspace" >
                <a  href="mailto:irusha@vidanamadura.net" target="_top">
                  <img src="img/mail.png" class="img-responsive logo-padding" alt="Responsive image" style="width: 8%; height: 8%;" align="left" >
                </a>
                <a class="contact-font" href="mailto:irusha@vidanamadura.net" target="_top" align="center" >irusha@vidanamadura.net</a>
              </div>
              <div class="contact-vspace" >
                <a href="https://ca.linkedin.com/in/irushavm" target="_blank" >
                  <img src="img/linkedIn.png" class="img-responsive logo-padding" alt="Responsive image" style="width: 8%; height: 8%;" align="left">
                </a>
                <a class="contact-font" href="https://ca.linkedin.com/in/irushavm" target="_blank" align="center"  > Linked-in Profile </a>
              </div>
            </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
</section>
<link href="css/extra/scrolling-nav.css" rel="stylesheet">
<script src="js/page.constants.js"></script>
