<section id="projects" class="section projects-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h1>Recent Projects!</h1>
        <horizontal-div></horizontal-div>
        <div class="row">
          <div class="col-md-4">
            <img src="img/balloon.png" style="width: 30%; height: 30%; padding-top:5em; padding-bottom:6em;" align="center" >
            <div class="project-main-section">
              <a class="project-title"  href="http://carletonslam.github.io/spacegoldfish/">
                Global Space Balloon Challenge
              </a>
              <h4>(Spring 2015)</h4>
            </div>
            <div class="project-desc-section">
              <p>
                We launched a payload up into space capable of transmitting
                digital and analog transmission.
                <br>
                <a class="btn"  href="https://vimeo.com/128056981">Video Compilation »</a>
                <br>
                <a class="btn"  href="https://www.balloonchallenge.org/">Competition website »</a>
              </p>
            </div>
          </div>
          <div class="col-md-4">
            <img src="img/hand.png" style="width: 50%; height: 50%; padding-top:6em; padding-bottom:8.5em;" align="center" >
            <div class="project-main-section">
              <a class="project-title"  href="http://devpost.com/software/leap-a-little">
                Leap A Little
              </a>
              <h4>(Fall 2015)</h4>
            </div>
            <div class="project-desc-section">
              <p>
                We created a Unity application that can track precise hand
                movements using the Leap Motion device and provide rehabilitation
                exericises for users with hand motor skill impairments such as
                Parkinson's disease, and cerebral palsy.
                <br>
                <a class="btn" href="http://devpost.com/software/leap-a-little">
                  A Hack the North Project»
                </a>
              </p>
            </div>
          </div>
          <div class="col-md-4">
            <img src="img/sprinkler.png" style="width: 30%; height: 30%; padding-top:5.6em; padding-bottom:6.5em;" align="center" >
            <div class="project-main-section">
              <a class="project-title"  href="https://github.com/CarletonSLAM/tulipsandpopcorn">
                Smart Irrigation System for Circular Farms
              </a>
              <h4>(Fall 2015 - Spring 2016)</h4>
            </div>
            <div class="project-desc-section">
              <p>
                We are creating a IoT based system for irrigation systems by analyzing moisture data from the farm with weather data to create an automated, efficient water distritributing system.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<script src="js/page.constants.js"></script>
